[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
	branch = master
[submodule "external/fmt"]
	path = external/fmt
	url = git@github.com:fmtlib/fmt.git
	branch = master
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = git@github.com:nlohmann/json.git
	branch = master
