*.VC.db
*.sdf
*.opendb
*.ilk
*.pdb
*.exe
*.log
*.ipdb
*.iobj
*.tmp
*.user
*.spv
*.vcxproj.filters
*.vscode
*.pyc

.vs/
.idea/
build/
cmake-build-debug/
cmake-build-release/
[Bb]in/
[Bb]in_d/
x64/
x86/
Win32/
[Tt]emp/
/[Dd]ebug/
/VulkanIsland/[Dd]ebug/
